.header__lang-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
  opacity: 1.0;
}

.header__lang-link:hover {
  opacity: 0.8;
}


.header__lang-link:last-of-type {
  margin-right: 0;
}