.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1em;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  min-width: 320px;
  color: #ffffff;
  margin: 0;
}