.cover {
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px){
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 320px){
  .cover {
    width: 320px;
    min-height: 200px;
    margin: 66px 0 64px 0;
  }
}