 .footer {
  margin: 92px auto 0;
  max-width: 1184px;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
 }

 @media screen and (max-width: 1024px){
  .footer {
    margin: 92px 48px 0 48px;
  }
 }

 @media screen and (max-width: 320px){
  .footer {
    flex-direction: column;
    margin: 0 0 0 16px;
    min-height: 310px;
  }
 }